html,
body {
  height: 100%;
  /* Garante que o corpo ocupe 100% da altura da tela */
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./../public/qa2.jpg');
  background-size: cover;
  /* Faz a imagem cobrir toda a tela */
  background-position: center;
  /* Centraliza a imagem */
  background-repeat: no-repeat;
  /* Evita repetição da imagem */
  background-attachment: fixed;
  /* Faz a imagem permanecer fixa ao rolar a página */
  font-family: "Quicksand", sans-serif;
}